.list {
    margin-bottom: 30px;

    &__add-button {
        position: relative;
        left: 3px;

        svg {
            path {
                stroke: #767676;
            }
        }

        span {
            margin-left: 5px;
            color: #767676;
        }

        &:hover {
            svg {
                path {
                    stroke: black;
                }
            }

            span {
                color: black;
            }
        }
    }

    li {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        cursor: pointer;

        // if selected
        &:hover {
            &.active {
                background: #FFFFFF;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
            }
        }

        i {
            margin-right: 8px;
            display: inline-flex;

            // why i cant use .badge in li
            position: relative;
            left: 3px;
        }
    }
}