.tasks {
    &__title {
        font-family: 'Montserrat';
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
        padding-bottom: 20px; // margin-bottom cant move border!!!
        border-bottom: 1px solid #F2F2F2;

        &:hover {
            svg {
                opacity: 0.7;
            }
        }

        svg {
            opacity: 0;
            cursor: pointer;
            margin-left: 15px;

            &:hover {
                path {
                    fill: black;
                }
            }
        }
    }

    &__items {
        margin-top: 30px;

        &-row {
            display: flex; // checkbox and paragraph in one row
            align-items: center; // y alignment
            margin-top: 20px;

            p {
                margin-left: 15px;
                font-size: 16px;
            }
        }
    }

    .checkbox {
        &:hover {
            label {
                background-color: #F2F2F2;

                svg {
                    opacity: 1;

                    path {
                        stroke: #B3B3B3;
                    }
                }
            }
        }


        input {
            display: none; // hide default checkbox
        }

        label {
            cursor: pointer;
            align-items: center; // y alignment of picture
            justify-content: center; // x alignment of picture
            display: flex; // circle border in this example
            border: 2px solid #f2f2f2;
            border-radius: 30px;
            width: 20px;
            height: 20px;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

            svg {
                opacity: 0;
            }
        }

        // + right element of input, ~ left element of input
        input:checked+label {
            background-color: #4DD599;
            border-color: #4DD599;

            svg {
                opacity: 1;

                path {
                    stroke: #FFFFFF;
                }
            }
        }
    }
}