// normalize
* {
    margin: 0;
    padding: 0;
    list-style: none; // list no dots or whatever
    outline: none;
    font-family: 'Roboto', -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo {
    display: flex; // because sidebar 'eats' all todo space
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    height: 530px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 30px #f3f3f3;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-size: 14px;

    &__sidebar {
        background-color: #E5E5E5;
        border-top-left-radius: 10px; // temp, looks not perfect
        border-bottom-left-radius: 10px; // temp, looks not perfect
        width: 225px;
        height: calc(100% - 120px);
        border-right: 1px solid #f1f1f1;
        padding: 60px 20px; // top, lelf-right
    }

    &__tasks {
        flex: 1; // tasks div takes all available width
        padding: 60px;
    }
}

.button {
    background-color: #4dd599;
    border: 0;
    color: #FFFFFF; // text color
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;

    // mouse over
    &:hover {
        background-color: darken(#4dd599, 5%);
    }

    // click
    &:active {
        background-color: darken(#4dd599, 10%);
    }
}

.textField {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;

    &:focus {
        border-color: #e1e1e1;
    }
}